/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}
.menu:before {
	content: "[";
}
.menu:after {
	content: "]";
}
.menu > li {
	display: inline;
}
.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}
.required {
	color: red
}
.marginAdmin {
	margin-top: 2%;
	margin-right: 4%;
}
.dashboardTitle {
	color: #31B0D5
}
.rightMargin {
	margin-right: 4%
}
.left-inner-addon {
	position: relative;
}
.left-inner-addon input {
	padding-left: 30px;
}
.left-inner-addon i {
	position: absolute;
	padding: 10px 12px;
	pointer-events: none;
}
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}
.correctAnswer {
	display: inline-block;
	height: 20px;
	width: 22px;
	background-image: url("../img/icon-correct.png");
	background-repeat: no-repeat;
}
.wrongAnswer {
	display: inline-block;
	height: 20px;
	width: 22px;
	vertical-align: middle;
	background-image: url("../img/icon-wrong.png");
	background-repeat: no-repeat;
}
.box {
	color: white;
	text-align: center;
	height: 100px;
	font-size: 86px;
}
.adminDashboardAllign {
	margin-left: -1%;
}
.searchIconAllign {
	margin-right: 2%;
}
.highlight {
	background-color: #ffff99;
}
i.glyphicon-hand-left {
	font-size: 1.8em;
}
.animate-show {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
	line-height: 20px;
	opacity: 1;
	padding: 10px;
	border: 1px solid black;
	background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	display: block !important;
}

.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}

.check-element {
	padding: 10px;
	border: 1px solid black;
	background: white;
}
.cursormouse {
	cursor: pointer;
}
.remember a:hover{
		
		cursor: pointer;
	}
	
